@import 'bourbon/bourbon';

.content {
  height: 100%;
  overflow: auto;
}

article {
  float: left;
  text-align: center;
  padding: 10px;

  img {
    height: auto;
    width: 100px;
  }
  span {
    display: block;
  }
}

#first-menu {
  @include transition(left 0.5s ease-in 0s);
  left: 0;
  position: relative;
}

#first-menu.hidden {
  left: -400px;
}

#pieces-names {
  @include transition(left 0.5s ease-in 0s);
  left: 400px;
  position: absolute;
  top: 0;
}

#pieces-names.visible {
  left: 0;
}

#pieces-names.hidden {
  left: -400px;
}

.pieces-kinds {
  @include transition(left 0.5s ease-in 0s);
  left: 400px;
  position: absolute;
  top: 0;
}

.pieces-kinds.visible {
  left: 0;
}