@import 'bourbon/bourbon';
/* Common styles of menus */


.dl-menuwrapper {
	width: 100%;
	position: relative;
	@include perspective(1000px);
	@include perspective-origin(50% 200%);
	
	// button {
	// 	background: #ccc;
	// 	border: none;
	// 	width: 48px;
	// 	height: 45px;
	// 	text-indent: -900em;
	// 	overflow: hidden;
	// 	position: relative;
	// 	cursor: pointer;
	// 	outline: none;

	// 	&:hover,
	// 	&.dl-active {
	// 		background: #aaa;
	// 	}

	// 	&:after {
	// 		content: '';
	// 		position: absolute;
	// 		width: 68%;
	// 		height: 5px;
	// 		background: #fff;
	// 		top: 10px;
	// 		left: 16%;
	// 		@include box-shadow(0 10px 0 #fff,0 20px 0 #fff);
	// 	}
	// }

	ul {
		padding: 0;
		list-style: none;
		@include transform-style(preserve-3d);
	}

	li {
		position: relative;
		
		a {
			display: block;
			position: relative;
			padding: 10px 20px;
			font-size: 16px;
			line-height: 20px;
			font-weight: 300;
			color: #1c1a1f;
			outline: none;
		}

		&.dl-back > a {
			padding-left: 30px;
			background: rgba(0,0,0,0.1);
		}

		&.dl-back:after {
			left: 10px;
			color: #1c1a1f;
			@include transform(rotate(180deg));
		}

		//Hide the inner submenus
		.dl-submenu {
			display: none;
		}

	}

	.dl-menu {
		margin: 5px 0 0 0;
		position: absolute;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		//@include transform(translateY(10px));
		@include backface-visibility(hidden);

		&.dl-menu-toggle {
			@include transition (all 0.3s ease);
		}

		&.dl-menuopen {
			opacity: 1;
			pointer-events: auto;
			//@include transform(translateY(0px));
		}
	}
}

.dl-menu > li {
	margin-right: -18px;
}

.no-touch .dl-menuwrapper li a:hover {
	background: rgba(255,248,213,0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
	position: absolute;
	top: 0;
	line-height: 38px;
	font-family: 'entypo';
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: "\25B8";
	font-size: 25px;
}

.dl-menuwrapper li > a:after {
	right: 10px;
	color: #1c1a1f;
}

 
//When a submenu is openend, we will hide all li siblings.
//For that we give a class to the parent menu called "dl-subview".
//We also hide the submenu link. 
//The opened submenu will get the class "dl-subviewopen".
//All this is done for any sub-level being entered.

.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
	display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
	display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	margin: 5px 0 0 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-2 {
	@include animation(MenuAnimOut2 0.3s ease-in-out);
}

@-webkit-keyframes MenuAnimOut2 {
	100% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
}

@-moz-keyframes MenuAnimOut2 {
	100% {
		-moz-transform: translateX(-100%);
		opacity: 0;
	}
}


@keyframes MenuAnimOut2 {
	100% {
		transform: translateX(-100%);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-2 {
	-webkit-animation: MenuAnimIn2 0.3s ease-in-out;
	-moz-animation: MenuAnimIn2 0.3s ease-in-out;
	animation: MenuAnimIn2 0.3s ease-in-out;
}


@-webkit-keyframes MenuAnimIn2 {
	0% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-moz-keyframes MenuAnimIn2 {
	0% {
		-moz-transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-moz-transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn2 {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
	-webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
	-moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
	animation: SubMenuAnimIn2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimIn2 {
	0% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-moz-keyframes SubMenuAnimIn2 {
	0% {
		-moz-transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-moz-transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn2 {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
	-webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
	-moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
	animation: SubMenuAnimOut2 0.3s ease-in-out;
}

@-webkit-keyframes SubMenuAnimOut2 {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
}

@-moz-keyframes SubMenuAnimOut2 {
	0% {
		-moz-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-moz-transform: translateX(100%);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut2 {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
	position: relative;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
	display: block;
}

.no-js .dl-menuwrapper li.dl-back {
	display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
	background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
	content: '';
}