@import 'bourbon/bourbon';
@import 'foundation.scss';



@include font-face(entypo, 'fonts/entypo');

$dark-color: #1c1a1f;
$light-color: #e6e6e6;
$highlight-color: #d4b537;

@mixin border-radius($value) {
	-moz-border-radius: $value; /* Firefox */
	-webkit-border-radius: $value; /* Safari, Chrome */
	border-radius: $value; /* CSS3 */
}

@mixin centered-content() {
	margin: 0 auto;
	width: 960px;
}

html {
	font-family: Arial, sans-serif;
}

body {
	color: $dark-color;
	background-color: $light-color;
	font-size: 15px;
}

.top-bar {
    .name {
        line-height: 1;
        padding: 5px;
    }
    
    img {
        float: left;
        height: 100%;
        margin-right: 15px;
        width: auto;
            
    }
    
    span {
        color: #fff;
        display: block;
        white-space: nowrap;
    }
    
    .main-name {
        font-size: 20px;
    }
    
    .sub-name {
        font-size: 12px;
    }
}

#content {
    padding-top: 30px;
}

/*
header {
	color: #FFF;
	background-color: $dark-color;
	width: 100%;

	.logo {
		width: 25%;
	}

	.logo-name, 
	img {
		float: left;
		height: 45px;
    	width: auto;
	}

	a {
		color: $light-color;
		text-decoration: none;
	}

	h1 {
		margin-top: 0;
		font-size: 25px;
		font-weight: bold;
	}
	
	h2 {
		font-size: 12px;
		padding-left: 20px;
	}

	h1, h2 {
		margin: 0;
	}
}

.header-content {
	@include centered-content();
	overflow: hidden;
    padding: 10px 0;
}

.enter-link {
	text-align: center;
}

#content {
	@include centered-content();
	min-height: 450px;
	padding-top: 25px;
	position: relative;
}
*/

/*
aside {
	border-right: 2px solid #000;
	float: left;
	line-height: 1.2;
	padding-right: 20px;
	text-align: center;
	width: 280px;
	position: relative;
	h2 {
		margin-bottom: 15px;
	}
}*/
/*.vertical-line {
	border-left: 2px solid #000;
    bottom: 0;
    left: 25%;
    position: absolute;
    top: 0;
    width: 0;
}

.content {
	//width: 640px;
	//margin-left: 280px;
	//padding-left: 20px;
	width: 100%;
	position: relative;
}*/

/*nav {
	overflow: hidden;
	text-align: center;

	ul {
		margin: 20px 0 5px;
		overflow: hidden;
		padding: 0;
	}

	li {
		float: left;
		list-style: none;
		margin: 0 25px; 
	}

	a {
		color: $light-color;
		&.active {
			color: $highlight-color;
		}
	}
}*/

/* -- HOME -- */
.jewel-animation {
	text-align: center;
}

/* -- CONTACT FORM -- */
.content {
	overflow: auto;
}

.contact-form {
	margin-top: 20px;
}

.contact-form input:not([type="submit"]),
.contact-form textarea {
	@include border-radius(4px);
	border: 1px solid black;
	float: left;
	margin: 10px;
	padding: 5px;
	width: 340px;
}

textarea {
	font-family: arial, sans-serif;
	resize: none;
}

.contact-form label {
	display: block;
	float: left;
	margin: 10px;
    padding: 5px 0;
	width: 200px;
	text-align: right;
}

.contact-form p {
	clear: both;
}

.submit-button {
	clear: both;
	display: block;
	margin-left: 503px;
	padding: 5px 0;
	width: 80px !important;
}

.errorlist li {
	font-size: 12px;
	color: red;
	opacity: 0.7;
	margin-left: 210px;
}

.message {
	margin-top: 25px;
	margin-left: 210px;
}


//catalogo
.product {
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.4);
    font-size: 100%;
    line-height: 1.4em;
}