<html>
	<body>
	</body>
	<head>
		<ul>
                  {% for pieceName, pieceKinds in pieces %} 
            <li>
            	<h1>{{ pieceName }}</h1>
            	<ul>
            		{% for pieceKind in pieceKinds %}
            		<li>
            			{{ pieceKind.name }}
            		</li>
            		{% endfor %}
            	</ul>
            </li>
        	{% endfor %}
		</ul>
	</head>
</html>