<html>
	<body>
	</body>
	<head>
      {% for article in articles %} 
            <div>
            	<h3>{{ article.name }}</h3>
                  <h4>{{ article.piece.name }}</h4>
            	<div>{{ article.description }}</div>
                  <div>{{ article.price }}€</div>
            </div>
            <hr>
  	{% endfor %}
	</head>
</html>