<html>
    <head>
    </head>
	<body>
        <h1>Alloys</h1>
        <ul>
            {% for alloy in alloys %} 
            <li>
                {{ alloy.name }}: {{ alloy.price }}€ &lt; {{ alloy.expectedPrice }}€
            </li>
            {% endfor %}
        </ul>
        <h1>Articles</h1>
        <ul>
            {% for article in articles %} 
            <li>
                {{ article.name }}: {{ article.price }}€ &lt; {{ article.expectedPrice }}€
            </li>
            {% endfor %}
        </ul>
	</body>
	
</html>