{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
	{% if object.image %}
        <img src="/upl/t{{ object.image }}" style="height:32px;display: block;margin: auto;">
    {% else %}
    	<img src="/img/NULL.png" style="height:32px;display: block;margin: auto;">
    {% endif %}
{% endblock %}