{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
	<div style="text-align: right">
		{% if object.price > 0.1 %}
			{{ object.price | round(2, 'ceil') }} <b>€ / g</b>
		{% elseif object.price > 0.0001 %}
			{{ (object.price * 1000) | round(2, 'ceil') }} <b>€ / kg</b>
		{% elseif object.price > 0 %}
			{{ (object.price * 1000000) | round(2, 'ceil') }} <b>€ / t</b>
		{% else %}
		    ---
		{% endif %}
	</div>
{% endblock %}