{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
	<div style="text-align: right">
		{% if object.expectedPrice > 0.1 %}
			{% if object.expectedPrice < object.price or object.price <= 0%}
				{{ object.expectedPrice | round(2, 'ceil')}} <b>€ / g</b>
			{% else %}
		        <b style="color:red">{{ object.expectedPrice | round(2, 'ceil') }} <b>€ / g</b></b>
		    {% endif %}
		{% elseif object.expectedPrice > 0.0001 %}
			{% if object.expectedPrice < object.price or object.price <= 0%}
				{{ (object.expectedPrice * 1000) | round(2, 'ceil') }} <b>€ / kg</b>
			{% else %}
		        <b style="color:red">{{ (object.expectedPrice * 1000) | round(2, 'ceil') }} <b>€ / kg</b></b>
		    {% endif %}
		{% elseif object.expectedPrice > 0 %}
			{% if object.expectedPrice < object.price or object.price <= 0%}
				{{ (object.expectedPrice * 1000000) | round(2, 'ceil') }} <b>€ / t</b>
			{% else %}
		        <b style="color:red">{{ (object.expectedPrice * 1000000) | round(2, 'ceil') }} <b>€ / t</b></b>
		    {% endif %}t
		{% else %}
		    ---
		{% endif %}
	</div>
{% endblock %}