{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
	<div style="text-align: right">
		{% if object.price > 0 %}
			{{ object.price | round(2, 'ceil') }} <b>€</b>
		{% else %}
		    ---
		{% endif %}
	</div>
{% endblock %}