{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
	<div style="text-align: right">
		{% if object.expectedPrice < object.price or object.price <= 0%}
			{{ object.expectedPrice | round(2, 'ceil')}} <b>€</b>
		{% else %}
	        <b style="color:red">{{ object.expectedPrice | round(2, 'ceil')}} €</b>
	    {% endif %}
    </div>
{% endblock %}