<html>
	<head>
		<title>
			Tipos de pieza
		</title>
	</head>
	<body>
		<table>

			{% for flashMessage in app.session.flashbag.get('error') %}
			    <div class="flash-notice">
			        {{ flashMessage }}
			    </div>
			{% endfor %}
			<form method="POST" action="/api/piecekind/" enctype="multipart/form-data">
				<input type="text" name="name"  placeholder="nombre"><br>
				<input type="file" name="image" placeholder="imagen">
				<input type="submit" value="Crear">
			</form>
		</table>
	</body>
</html>