<html>
	<head>
		<title>
			Tipos de pieza
		</title>
		<style>
			th, td {
				border-style: solid;
				border-width: 1px;
				margin: 0;
				padding: 5px 20px;
			}
		</style>
		<script src="http://localhost:8000/images/piecekinds/527f855a5df45.js" type="text/javascript"></script>
	</head>
	<body>
		<table>

			<a href="/admin/2/piecekind/new">Crear nuevo</a>
			<thead>
				<tr>
					<th>ID</th><th>Nombre</th><th>Imagen</th><th>Fecha de creacíon</th><th>Ultima modificacion</th><th>Eliminado?</th>
				</tr>
			</thead>
			<tbody>
				{% for piecekind in piecekinds %}
					<tr>
						<td>{{ piecekind.id }}</td>
						<td>{{ piecekind.name }}</td>
						<td>{{ piecekind.image }}</td>
						<td>{{ piecekind.createdAt|date("Y/m/d") }}</td>
						<td>{{ piecekind.modifiedAt|date("Y/m/d") }}</td>
						{% if piecekind.deletedAt|date("Y/m/d") %}
							<td></td>
						{% else %}
							<td>X</td>
						{% endif %}
					</tr>
			    {% endfor %}
			</tbody>
			<img src="http://localhost:8000/images/piecekinds/527f855a5df45.pasdasd" />
		</table>
	</body>
</html>