<html>
	<head>
		{% block css %}
            {% stylesheets filter="scss" output="css/style.css"
                '@GibWebBundle/Resources/public/scss/normalize.scss'
                '@GibWebBundle/Resources/public/scss/style.scss'
                '@GibWebBundle/Resources/public/scss/jquery.galleryview-3.0-dev.scss'
            %}
                <link rel="stylesheet" href="{{ asset_url }}"></link>
            {% endstylesheets %}
        {% endblock %}
        {% block js %}
            {% javascripts output="js/javascript.js"
                '@GibWebBundle/Resources/public/js/navi.js'
                '@GibWebBundle/Resources/public/js/jQuery.js'
                '@GibWebBundle/Resources/public/js/jquery.timers-1.2.js'
                '@GibWebBundle/Resources/public/js/jquery.easing.1.3.js'
                '@GibWebBundle/Resources/public/js/jquery.galleryview-3.0-dev.js'
                '@GibWebBundle/Resources/public/js/modernizr.custom.js'
                '@GibWebBundle/Resources/public/js/jquery.dlmenu.js'
            %}
                <script src="{{ asset_url }}" type="text/javascript" charset="utf-8"></script>
            {% endjavascripts %}
        {% endblock %}
        <style type="text/css">
        	.money {
        		text-align: right;
        		vertical-align: middle;
        	}
        </style>
	</head>
	<body>

		<div class="row">
			<div class="large-12">
				<h3>Metales</h3>
				<table>
					<thead>
						<td>Metal</td>
						<td>Símbolo</td>
						<td>Precio viejo</td>
						<td>Precio nuevo</td>
					</thead>
					<tbody>
						<tr>
							<td>{{ symbols[0].name }}</td>
							<td>{{ symbols[0].symbol }}</td>
							<td class="money">{{ symbols[1]|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% if symbols[1] > symbols[0].price %}
								<td class="money" style="color:red">{{ symbols[0].price|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% elseif symbols[1] < symbols[0].price %}
								<td class="money" style="color:green">{{ symbols[0].price|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% else %}
								<td class="money"><b>{{ symbols[0].price|round(2, 'ceil')|number_format(2) }} €/g</b></td>
							{% endif %}
						</tr>

						<tr>
							<td>{{ symbols[2].name }}</td>
							<td>{{ symbols[2].symbol }}</td>
							<td class="money">{{ symbols[3]|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% if symbols[3] > symbols[2].price %}
								<td class="money" style="color:red">{{ symbols[2].price|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% elseif symbols[3] < symbols[2].price %}
								<td class="money" style="color:green">{{ symbols[2].price|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% else %}
								<td class="money"><b>{{ symbols[2].price|round(2, 'ceil')|number_format(2) }} €/g</b></td>
							{% endif %}
						</tr>

						<tr>
							<td>{{ symbols[4].name }}</td>
							<td>{{ symbols[4].symbol }}</td>
							<td class="money">{{ symbols[5]|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% if symbols[5] > symbols[4].price %}
								<td class="money" style="color:red">{{ symbols[4].price|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% elseif symbols[5] < symbols[4].price %}
								<td class="money" style="color:green">{{ symbols[4].price|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% else %}
								<td class="money"><b>{{ symbols[4].price|round(2, 'ceil')|number_format(2) }} €/g</b></td>
							{% endif %}
						</tr>

						<tr>
							<td>{{ symbols[6].name }}</td>
							<td>{{ symbols[6].symbol }}</td>
							<td class="money">{{ symbols[7]|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% if symbols[7] > symbols[6].price %}
								<td class="money" style="color:red">{{ symbols[6].price|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% elseif symbols[7] < symbols[6].price %}
								<td class="money" style="color:green">{{ symbols[6].price|round(2, 'ceil')|number_format(2) }} €/g</td>
							{% else %}
								<td class="money"><b>{{ symbols[6].price|round(2, 'ceil')|number_format(2) }} €/g</b></td>
							{% endif %}
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
        	<div class="large-12">
        		<h3>Aleaciones</h3>
        		<table>
					<thead>
						<tr>
							<td>Ref.</td>
							<td>Nombre</td>
							<td>Precio</td>
							<td>Precio recomendado</td>
							<td></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for alloy in alloys %}
					        <tr>
					        	<td>{{ alloy.reference }}</td>
					        	<td>{{ alloy.name }}</td>
					        	<td class="money">{{ alloy.price|number_format(2) }} €</td>
					        	<td class="money">{{ alloy.expectedPrice|number_format(2) }} €</td>
					        	<td><a href="/admin/2/alloy/disable/{{ alloy.id }}">Deshabilitar</a></td>
					        	<td><a href="/admin/2/alloy/reset/{{ alloy.id }}">Cambiar precio a {{ alloy.expectedPrice }}</a></td>
					        </tr>
					    {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
        	<div class="large-12">
        		<h3>Articulos</h3>
        		<table>
					<thead>
						<tr>
							<td>Ref.</td>
							<td>Nombre</td>
							<td>Precio</td>
							<td>Precio recomendado</td>
							<td></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for article in articles %}
					        <tr>
					        	<td>{{ article.reference }}</td>
					        	<td>{{ article.name }}</td>
					        	<td class="money">{{ article.price|number_format(2) }} €</td>
					        	<td class="money">{{ article.expectedPrice|number_format(2) }} €</td>
					        	<td><a href="/admin/2/article/disable/{{ article.id }}">Deshabilitar</a></td>
					        	<td><a href="/admin/2/article/reset/{{ article.id }}">Cambiar precio a {{ article.expectedPrice }}</a></td>
					        </tr>
					    {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>