<div class="row pruct-list">
	{#{% for article in articles %}#}
		<article class="large-4 small-6 columns">
            <div class="product">
                {# <img src="{{ MEDIA_URL }}/{{ article.image }}" /> #}
                <img src="https://ardeneespana.files.wordpress.com/2010/10/pendientes-largos.jpg" />
                <span>Pendientes</span>
            </div>
		</article>
    
    <article id="article" class="large-4 small-6 columns">
            <div class="product">
			{# <img src="{{ MEDIA_URL }}/{{ article.image }}" /> #}
			<img src="https://ardeneespana.files.wordpress.com/2010/10/pendientes-largos.jpg" />
			<span>Pendientes</span>
            </div>
		</article>
    
    <article id="article" class="large-4 small-6 columns">
            <div class="product">
			{# <img src="{{ MEDIA_URL }}/{{ article.image }}" /> #}
			<img src="https://ardeneespana.files.wordpress.com/2010/10/pendientes-largos.jpg" />
			<span>Pendientes</span>
            </div>
		</article>
    
    <article id="article" class="large-4 small-6 columns">
            <div class="product">
			{# <img src="{{ MEDIA_URL }}/{{ article.image }}" /> #}
			<img src="https://ardeneespana.files.wordpress.com/2010/10/pendientes-largos.jpg" />
			<span>Pendientes</span>
            </div>
		</article>
    
    <article id="article" class="large-4 small-6 columns">
            <div class="product">
			{# <img src="{{ MEDIA_URL }}/{{ article.image }}" /> #}
			<img src="https://ardeneespana.files.wordpress.com/2010/10/pendientes-largos.jpg" />
			<span>Pendientes</span>
            </div>
		</article>
    
    <article id="article" class="large-4 small-6 columns">
            <div class="product">
			{# <img src="{{ MEDIA_URL }}/{{ article.image }}" /> #}
			<img src="https://ardeneespana.files.wordpress.com/2010/10/pendientes-largos.jpg" />
			<span>Pendientes</span>
            </div>
		</article>
	{#{% empty %}
		<p>No hay artículos con estas características</p>
	{% endfor %}#}
</div>