{% extends "GibWebBundle:Static:base_menu.html.twig" %}

{% block css %}
	{{ parent() }}
	{% stylesheets filter="scss" 
        '@GibWebBundle/Resources/public/scss/component.scss'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"></link>
    {% endstylesheets %}
{% endblock %}

{% block home %}{% endblock %}
{% block catalogo %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-3 medium-4 columns">
            <div id="dl-menu" class="dl-menuwrapper">
                {#<button>Open Menu</button>#}
                <ul class="dl-menu dl-menuopen">
                        <li >
                            <a href="#">COLECCIÓN</a>
                            <ul class="dl-submenu">
                                <li class="dl-back"><a href="#">back</a></li>
                                {% for pieceName, pieceKinds in piecesNames %}
                                    <li>
                                        <a data-piece-name="{{ pieceName }}" href="{{ path('catalogo', {'pieceName': pieceName }) }}">{{ pieceName }}</a> 
                                        {% if pieceKinds %}
                                            <ul class="dl-submenu">
                                                <li class="dl-back"><a href="#">back</a></li>
                                                {% for pk in pieceKinds %}
                                                    <li>
                                                        <a data-in="lele" data-out="lele" href="{{ path('catalogo', {'pieceName': pieceName, 'pieceKind': pk }) }}">{{ pk }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="#">COMPOSICIÓN</a></li>
                        <li><a href="#">DETALLE ARTICULO</a></li>
                </ul>
            </div>
        </div>

        <div class="large-9 medium-8 columns">
            {% if articles | length  > 0 %}
                {% include "GibWebBundle:Default:articles_list.html.twig" with articles %}
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block js %}
	{{ parent() }}
	
	<script type="text/javascript">
		$(function() {
			
			$( '#dl-menu' ).dlmenu({
				animationClasses : { in : 'dl-animate-in-2', out : 'dl-animate-out-2' }
			});

			{#$('#dl-menu a').click(function(e) {
				e.preventDefault();
				if ($(this).attr("href") != '#') {
					$.get(
						$(this).attr('href'),
						function(data) {
							$('.content').html(data);
						}
					);
				}
			});#}
		});
	</script>
{% endblock %}