{% extends "GibWebBundle:Static:base.html.twig" %}

{% block aside %}
	<h2>PRESENTACIÓN</h2>
	<p>Es nuestro interés reflejar en la web nuestra forma de trabajar.  Aportando todos nuestros conocimientos que a lo largo de años de experiencia hemos ido acumulando, en cada una de las diferentes áreas del proceso de fabricación, diseño, modelaje, fundición, montaje, engaste y acabados. Puestos al servicio de todos nuestros clientes.<p>
{% endblock %}

{% block navigation_bar %}
	<ul>
		<li><a href="{{ path('home') }}" class="{% block home %}{% endblock %}">INICIO</a></li>
		<li><a href="{{ path('empresa') }}" class="{% block empresa %}{% endblock %}">EMPRESA</a></li>
		<li><a href="{{ path('catalogo') }}" class="{% block catalogo %}{% endblock %}">CATALOGO</a></li>
		<li><a href="{{ path('contactos') }}" class="{% block contactos %}{% endblock %}">CONTACTOS</a></li>
		{# <li><a href="{% url consultas %}" class="{% block consultas %}{% endblock %}">CONSULTAS</a></li> #}
		<li><a href="#">CLIENTES</a></li>
	</ul>
{% endblock %}

