<!DOCTYPE html>
<html>
    <head>
        <title>Gallofre i Bernat</title>
        {% block css %}
            {% stylesheets filter="scss" output="css/style.css"
                '@GibWebBundle/Resources/public/scss/normalize.scss'
                '@GibWebBundle/Resources/public/scss/style.scss'
                '@GibWebBundle/Resources/public/scss/jquery.galleryview-3.0-dev.scss'
            %}
                <link rel="stylesheet" href="{{ asset_url }}"></link>
            {% endstylesheets %}
        {% endblock %}
        {% block js %}
            {% javascripts output="js/javascript.js"
                '@GibWebBundle/Resources/public/js/navi.js'
                '@GibWebBundle/Resources/public/js/jQuery.js'
                '@GibWebBundle/Resources/public/js/jquery.timers-1.2.js'
                '@GibWebBundle/Resources/public/js/jquery.easing.1.3.js'
                '@GibWebBundle/Resources/public/js/jquery.galleryview-3.0-dev.js'
                '@GibWebBundle/Resources/public/js/modernizr.custom.js'
                '@GibWebBundle/Resources/public/js/jquery.dlmenu.js'
            %}
                <script src="{{ asset_url }}" type="text/javascript" charset="utf-8"></script>
            {% endjavascripts %}
        {% endblock %}

    </head>
    <body>
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('bundles/gibweb/img/logo.png') }}"/>
                        <span class="main-name">Gallofré i bernat</span>
                        <span class="sub-name">Diseñadores y fabricantes de joyería</span>
                    </a>
                </li>
            </ul>

            <section class="top-bar-section">
                <ul class="right">
                    <li class="{% block empresa %}{% endblock %}">
                        <a href="{{ path('empresa') }}">EMPRESA</a>
                    </li>
                    <li class="{% block catalogo %}{% endblock %}">
                        <a href="{{ path('catalogo') }}">CATALOGO</a>
                    </li>
                    <li class="{% block contactos %}{% endblock %}">
                        <a href="{{ path('contactos') }}" >CONTACTO</a>
                    </li>
                    {# <li><a href="{% url consultas %}" class="{% block consultas %}{% endblock %}">CONSULTAS</a></li> #}
                    <li>
                        <a href="#">CLIENTES</a>
                    </li>
                </ul>
            </section>
        </nav>
        <div id="content" class="row">
            <div class="small-12 columns">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer></footer>
    </body>
</html>