{% extends "GibWebBundle:Static:base_menu.html.twig" %}

{% block css %}
	{{ parent() }}
	<style>
		.content {
			text-align: left;
		}
		.columns-container {
			width: 480px;
			position: relative;
		}

		.left-column {
			float: left;
			text-align: right;
		}
		.right-column {
			float: right;
		}

		.right-column a {
			display: block;
			margin: 15px 0;
		}

		.right-column ul {
			padding: 0;
		}

		.right-column li {
			list-style: none;
		}
	</style>
{% endblock %}

{% block home %}{% endblock %}
{% block contactos %}active{% endblock %}

{% block content %}
	<div class="columns-container">
		<div class="left-column">
			<p>Departamento comercial:</p>
			<p>Departamento de diseño:</p>
			<p>Teléfonos:</p>
		</div>
		<div class="right-column">
			<a href="mailto:gallofreibernat@gallofreibernat.com">gallofreibernat@gallofreibernat.com</a>
			<a href="mailto:xaviergallofre@gallofreibernat.com">xaviergallofre@gallofreibernat.com</a>
			<ul>
				<li>93 7941826</li>
				<li>650919864</li>
				<li>639907486</li>
			</ul>
		</div>
	</div>
{% endblock %}