{% extends "GibWebBundle:Static:base_menu.html.twig" %}

{% block home %}{% endblock %}
{% block empresa %}active{% endblock %}

{% block aside %}
	<h2>PRESENTACIÓN</h2>
	<p>Es nuestro interés reflejar en la web nuestra forma de trabajar.  Aportando todos nuestros conocimientos que a lo largo de años de experiencia hemos ido acumulando, en cada una de las diferentes áreas del proceso de fabricación, diseño, modelaje, fundición, montaje, engaste y acabados. Puestos al servicio de todos nuestros clientes.<p>
{% endblock %}

{% block content %}
	<div class="jewel-animation">
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="320" height="240" id="middle-jewel" align="middle">     
			<param name="movie" value="{{ asset('bundles/gibweb/swf/67986501.swf') }}"/>     
			<param name="quality" value="high">
			<param name="wmode" value="transparent">     
			<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="{{ asset('bundles/gibweb/swf/67986501.swf') }}" width="320" height="240">         
					<param name="movie" value="{{ asset('bundles/gibweb/swf/67986501.swf') }}"/>
					<param name="quality" value="high">
		            <param name="wmode" value="transparent">     
			<!--<![endif]-->         
				<a href="http://www.adobe.com/go/getflash">             
					<img src="http://www.adobe.com/es/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"/>         
				</a>     <!--[if !IE]>-->     
			</object>     <!--<![endif]--> 
		</object>
	</div>
{% endblock %}