{% extends "GibWebBundle:Static:base.html.twig" %}

{% block js %}
	{{ parent() }}
	<script type="text/javascript">
		$(function() {
			$('#myGallery').galleryView({
				show_panel_nav: false,
				autoplay: true,
				show_infobar: false,
				show_filmstrip: false,
				show_filmstrip_nav: false,
				panel_width: 960
			});
		});
	</script>
{% endblock %}

{#
{% block aside %}
    <h2>PRESENTACIÓN</h2>
    <p>Empresa dedicada al diseño y fabricación de artículos de joyería, anillos, pulseras, pendientes,
    colgantes, realizadas en oro, diamantes, esmeraldas, zafiros, rubíes, perlas y otras piedras 
    naturales de igual belleza, diseños propios piezas exclusivas, fabricadas con alta cualidad, cuidando 
    al máximo todo el proceso. Nuestro interés es satisfacer con ilusión el deseo de todos nuestros clientes, 
    haciendo exclusivas todas las piezas para cada uno de ellos.<p>
{% endblock %}

#}

{% block content %}
    {#<div class="jewel-animation">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="320" height="240" id="middle-jewel" align="middle">     
            <param name="movie" value="{{ asset('bundles/gibweb/swf/63544501.swf') }}"/>     
            <param name="quality" value="high">
            <param name="wmode" value="transparent">     
            <!--[if !IE]>-->
                <object type="application/x-shockwave-flash" data="{{ asset('bundles/gibweb/swf/63544501.swf') }}" width="320" height="240">         
                    <param name="movie" value="{{ asset('bundles/gibweb/swf/63544501.swf') }}"/>
                    <param name="quality" value="high">
                    <param name="wmode" value="transparent">     
            <!--<![endif]-->         
                <a href="http://www.adobe.com/go/getflash">             
                    <img src="http://www.adobe.com/es/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"/>         
                </a>     <!--[if !IE]>-->     
            </object>     <!--<![endif]--> 
        </object>
    </div>#}
    <ul id="myGallery">
		{#<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp1.jpg" alt="Lone Tree Yellowstone" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp2.jpg" alt="Is He Still There?!" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp4.jpg" alt="Noni Nectar For Green Gecko" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp7.jpg" alt="Flight of an Eagle Owl" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp14.jpg" alt="Winter Lollipops" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp26.jpg" alt="Day of Youth" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp27.jpg" alt="Sunbathing Underwater" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp28.jpg" alt="Untitled" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp41.jpg" alt="New Orleans Streetcar" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp49.jpg" alt="By The Wind of Chance" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp52.jpg" alt="Fishing on the Cloud" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp53.jpg" alt="Blue Lagoon" />
		<li><img src="http://www.spaceforaname.com/galleryview/img/photos/bp54.jpg" alt="Time" />#}
		<li><img src="/img/pic1.jpg" alt="Blue Lagoon" /></li>
		<li><img src="/img/pic2.jpg" alt="Blue Lagoon" /></li>
		<li><img src="/img/pic3.jpg" alt="Blue Lagoon" /></li>
	</ul>
{% endblock %}