{# src/Acme/DemoBundle/Resources/views/Form/fields.html.twig #}
{% block image_widget %}
    {% spaceless %}

        <input type="file" {{ block('widget_attributes') }}/>

        {% if data %}
        </div>
        </div>
        <div class="form-group">
            <label class=" control-label" for="delete_image">Delete image</label>
            <div>
                <input id="delete_image" type="checkbox" name="delete_image">
            </div>
            <div>
                <img src="/upl/n{{ data }}" {% if shape %}class="img-{{ shape }}"{% endif %} style="width:100%; padding:20px;{% if mWidth %}max-width:{{ mWidth }}px{% endif %} ">
        {% endif %}


    {% endspaceless %}
{% endblock %}

{% block gender_widget %}
    {% spaceless %}
        {% if expanded %}
            <ul {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <li>
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {# just let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}